<%- include('../template/header') -%>

<body>

    <%- include('../template/navbar') -%>
    <div class="container" style="padding: 44px;margin: 4rem auto;">
    <div class="twelve columns" id="left-content" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;">
        <div id="print_btn_div" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"></div><div class="updateText" style="float: right; font-style: italic; font-size: 20px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">সর্ব-শেষ হাল-নাগাদ: ৬ মার্চ ২০২২</div><hr id="print_div_hr"><div id="printable_area" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><h3 style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;">কৃষি তথ্য সার্ভিস</h3>
<div style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><div style="text-align: justify; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;">
<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong><u>কৃষি তথ্য বিস্তারে কৃষি তথ্য সার্ভিস</u></strong></span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><u><strong>সংস্থা পরিচিতি</strong></u><br>
কৃষি তথ্য সার্ভিস (এআইএস) কৃষি মন্ত্রণালয়াধীন একটি সংস্থা। কৃষি তথ্য ও প্রযুক্তি গণমাধ্যমের সাহায্যে তৃণমূল পর্যায়ে কৃষকের দোরগোড়ায় পৌঁছে দেয়াই সংস্থার মূল লক্ষ্য। এটি ১৯৬১ সালে কৃষি তথ্য সংস্থা হিসেবে আত্মপ্রকাশের পর ১৯৮০ সালে কৃষি তথ্য সার্ভিসে পরিণত হয়। সদর দপ্তর ও দেশব্যাপী ১১টি আঞ্চলিক কার্যালয়ের মাধ্যমে কৃষি তথ্য সেবা প্রদান করা হয়ে থাকে।<br>
কৃষি তথ্য সার্ভিস কৃষি মন্ত্রণালয়ের পক্ষে মিডিয়া ফোকাল পয়েন্ট হিসেবে কৃষি উন্নয়নমূলক প্রচার-প্রচারণার কাজটি করে থাকে। কৃষি মন্ত্রণালয় ও কৃষি মন্ত্রণালয়াধীন বিভিন্ন সংস্থার চাহিদানুযায়ী মুদ্রণ সামগ্রী প্রকাশ, ভিডিও সামগ্রী নির্মাণ ও প্রচারের দায়িত্ব পালন করে আসছে।&nbsp;</span><br>
&nbsp;</p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>ভিশন</strong><br>
আধুনিক কৃষি তথ্য সেবা সহজলভ্যকরণ।</span><br>
&nbsp;</p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>মিশন</strong><br>
প্রিন্ট, ইলেকট্রনিক ও আইসিটি গণমাধ্যমের সহায়তায় কৃষি বিষয়ক তথ্য ও প্রযুক্তি সংশ্লিষ্ট উপকারভোগীদের কাছে সহজলভ্য করে জনসচেতনা সৃষ্টি।<br>
কৃষি তথ্যের বিস্তার মাধ্যম কৃষি তথ্য সার্ভিস মূলত গবেষণা প্রতিষ্ঠান, সম্প্রসারণ বিভাগ, বিশ্ববিদ্যালয়সহ বিভিন্ন নলেজ সেন্টার থেকে প্রাপ্ত কৃষি তথ্য ও প্রযুক্তি কৃষকের গ্রহণযোগ্য করে প্রিন্ট, ইলেকট্রনিক ও আইসিটি মাধ্যমে কৃষি তথ্য বিস্তার করে থাকে।</span><br>
&nbsp;</p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>প্রিন্ট মিডিয়া কার্যক্রম</strong><br>
কৃষিকথা : বাংলাদেশের সবচেয়ে ঐতিহ্যবাহী প্রাচীন ফার্ম ম্যাগাজিন মাসিক কৃষিকথা প্রকাশ এবং নামমাত্র মূল্যে বিতরণ করা হয়। বর্তমান কৃষিকথার গ্রাহক সংখ্যা ৭০ হাজারেরও বেশি। আর এর পাঠকের সংখ্যা ১৫ লাখেরও বেশি। জানুয়ারি ২০০৯ থেকে জুন ২০২০ পর্যন্ত ঐতিহ্যবাহী মাসিক ‘কৃষিকথা’ পত্রিকার প্রায় ৫৭.২৬ লাখ কপি মুদ্রণ ও বিতরণ করা হয়েছে।&nbsp;</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><br>
<span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>সম্প্রসারণ বার্তা : </strong>মাসিক বিভাগীয় নিউজ বুলেটিন চার রঙে প্রকাশ ও বিতরণ করা হয়। কৃষি উন্নয়ন, সমৃদ্ধি, সফলতা, বিভিন্ন ইভেন্টসের হালনাগাদ খবর নিয়ে সম্প্রসারণ বার্তা নিয়মিত প্রকাশিত হয়। জানুয়ারি ২০০৯ থেকে জুন ২০২০ পর্যন্ত মাসিক সম্প্রসারণ বার্তার ১.৪১ লাখ কপি প্রকাশ ও বিতরণ করা হয়েছে।&nbsp;</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><br>
<span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>অন্যান্য প্রকাশনা :</strong> কৃষক ও কৃষিকর্মী এবং আগ্রহীদের চলমান চাহিদামাফিক সময়ে প্রযুক্তিনির্ভর বই, বুকলেট, পোস্টার, লিফলেট, ফোল্ডার, স্টিকার, ম্যাগাজিন, ব্যানার, ফেস্টুন মুদ্রণসহ বিনামূল্যে বিতরণের মাধ্যমে প্রযুক্তি বিস্তারে বিশেষ ভূমিকা পালন করে। আলোচ্য সময়ে কৃষি প্রযুক্তিভিত্তিক বিভিন্ন লিফলেট, পোস্টার, বুকলেট ইত্যাদির প্রায় ৫১.৭৭ লাখ কপি মুদ্রণ ও বিতরণ করা হয়েছে।</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><br>
<span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>ইলেকট্রনিক মিডিয়া কার্যক্রম</strong><br>
বাংলাদেশ টেলিভিশন : কৃষি তথ্য সার্ভিসের সার্বিক তত্ত্বাবধান এবং সহায়তায় বাংলাদেশ টেলিভিশনে মাটি ও মানুষ অনুষ্ঠান সপ্তাহে ৫ দিন সম্প্রচারিত হচ্ছে। এছাড়া ২০১৪ সাল থেকে বিটিভিতে প্রতিদিনের কৃষিবিষয়ক অনুষ্ঠান বাংলার কৃষি প্রতিদিন সকাল ৭টা ২৫ মিনিটে প্রচারিত হচ্ছে। ওই সময়ে বাংলাদেশ টেলিভিশনে ‘মাটি ও মানুষ’ অনুষ্ঠানের ২৯৯৩টি পর্ব এবং ‘বাংলার কৃষি’ অনুষ্ঠানের প্রায় ২৪২০টি পর্ব সম্প্রচারের যাবতীয় কারিগরি সহায়তা প্রদান করা হয়েছে।</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><br>
<span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>বাংলাদেশ বেতার : </strong>বাংলাদেশ বেতারের জাতীয় ও আঞ্চলিক কৃষিবিষয়ক অনুষ্ঠান নির্মাণে সার্বিক সহযোগিতা প্রদান। প্রতিদিন জাতীয় ও আঞ্চলিক পর্যায়ের বেতার কেন্দ্র থেকে দৈনিক প্রায় সাড়ে ১৪ ঘণ্টা অনুষ্ঠান সম্প্র্রচারিত হচ্ছে।</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>কমিউনিটি রেডিও :</strong> ‘আমার রেডিও আমার কথা বলে’ এ স্লোগানকে ধারণ করে বরগুনা জেলার আমতলীতে অবস্থিত কমিউনিটি রেডিওর মাধ্যমে কৃষি রেডিও এফএম ৯৮.৮ নামে বরগুনা ও পটুয়াখালী জেলার ১২টি উপজেলায় গ্রামীণ কল্যাণ ও চাহিদাভিত্তিক কৃষিসহ অন্যান্য অনুষ্ঠান দৈনিক ৮ ঘণ্টা সম্প্রচার করা হয়ে থাকে।&nbsp;</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>কৃষি ভিডিও চিত্র : </strong>কৃষি তথ্য সার্ভিস সর্বাধুনিক তথ্যপ্রযুক্তি ব্যবহার করে কৃষি প্রযুক্তিভিত্তিক বিভিন্ন ভিডিও, ডকুমেন্টারি, ফিল্ম, ফিলার, নাটক, টকশো নির্মাণ এবং গণমাধ্যমে সম্প্রচার করা হয়ে থাকে। এ ভিডিওগুলো গ্রামীণ পর্যায়ে মোবাইল সিনেমা ভ্যানের মাধ্যমে প্রদর্শন করা হয়ে থাকে। আলোচ্য সময়ে কৃষি প্রযুক্তিনির্ভর ৫১টি ভিডিও ফিল্ম, ৯৯টি ফিলার নির্মাণ ও সম্প্রচার করা হয়েছে। এ সময়ে ৮৪৬৫টি ভ্রাম্যমাণ চলচ্চিত্র প্রদর্শনীর মাধ্যমে তৃণমূল পর্যায়ে আধুনিক কৃষি তথ্য প্রযুক্তি সম্প্রচারের কাজ করা হয়েছে।&nbsp;</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><br>
<span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><u><strong>আইসিটি ও ইনোভেশন কার্যক্রম</strong></u></span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>কৃষি তথ্য ও যোগাযোগ কেন্দ্র (এআইসিসি) :</strong> কৃষি তথ্য সার্ভিসই প্রথম গ্রাম পর্যায়ে ৪৯৯টি কৃষি তথ্য ও যোগাযোগ কেন্দ্র স্থাপনের মাধ্যমে আইসিটি ব্যবহার করে গ্রামের তৃণমূল পর্যায়ে কৃষি তথ্য বিস্তারের কার্যক্রম শুরু করেছে। এসব কেন্দ্রে ল্যাপটপ, স্মার্টফোন, ইন্টারনেট মডেম, মাল্টিমিডিয়া সামগ্রী ইত্যাদি প্রদান করে ব্যবহার বিষয়ে প্রশিক্ষণ প্রদান করা হয়েছে।</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>কৃষি কল সেন্টার :</strong> সরাসরি কৃষি বিশেষজ্ঞদের (কৃষি, মৎস্য ও প্রাণিসম্পদ) সাথে কথা বলে তাৎক্ষণিকভাবে কৃষিবিষয়ক বিভিন্ন সমস্যার সমাধান দিতে ২০১৪ সালে প্রতিষ্ঠিত হয়েছে কৃষি কল সেন্টার-১৬১২৩। দেশের যে কোনো প্রান্ত থেকে যে কোনো মোবাইল থেকে মাত্র ২৫ পয়সা/মিনিট হারে কল করতে পারেন ১৬১২৩ নম্বরে। জুন ২০১৪ থেকে আগস্ট ২০১৯ পর্যন্ত সময়ে প্রায় ১.৫ লাখ কৃষিজীবীদের তথ্যসেবা প্রদান করা হয়েছে।</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><br>
<span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>ই-বুক :</strong> মাল্টিমিডিয়া ই-বুক হলো কোনো বিষয়ে টেক্সট কনটেন্টের সাথে অডিও, ভিডিও, অ্যানিমেশন এসবের সমন্বয়ে প্রণীত ইন্টারেক্টিভ ডিজিটাল বই। এগুলো সিডি আকারে সবকয়টি এআইসিসিতে বিতরণ করা হয়েছে। ২০০৯ থেকে বর্তমান পর্যন্ত বিভিন্ন ফসল ও প্রযুক্তিনির্ভর ১০৯টি মাল্টিমিডিয়া ই-বুক তৈরি করা হয়েছে।&nbsp;</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>এআইএসটিউব : </strong>এটি কৃষি তথ্য প্রযুক্তিবিষয়ক তথ্য ভান্ডার&nbsp;</span><a href="http://aistube.com/" title="aistube.com" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><strong>aistube.com</strong></a><strong>&nbsp;</strong><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">একটি ডিজিটাল ওয়েব পোর্টাল। এই আর্কাইভে কৃষিবিষয়ক আধুনিক তথ্য চিত্র আকারে উপস্থাপিত রয়েছে। এখান থেকে উপকারভোগীরা সহজেই তাদের প্রয়োজনীয় তথ্য জেনে নিতে পারবে।</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>ওয়েবসাইট, মোবাইল অ্যাপস ও অন্যান্য উদ্যোগ :</strong> কৃষির বিভিন্ন তথ্যপ্রযুক্তি সংবলিত একটি সুবিশাল ওয়েবপোর্টাল&nbsp;<strong>www.ais.gov.bd</strong>&nbsp;নির্মাণ ও নিয়মিত হালনাগাদ করা হয়ে থাকে। এছাড়াও কৃষিকথা ও কৃষি তথ্য সার্ভিস নামে দুটি মোবাইল অ্যাপস নির্মাণ করা হয়েছে। পাশাপাশি দশটি কৃষি অঞ্চলে দশটি আধুনিক আইসিটি ল্যাব ও সহজেই তথ্য গ্রহণের জন্য ১১টি কিয়স্ক তৈরি করা হয়েছে।</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><strong><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">অন্যান্য কার্যক্রম</span></strong></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>প্রশিক্ষণ কার্যক্রম :</strong> কৃষি তথ্য সার্ভিস মিডিয়াভিত্তিক বিভিন্ন আঙ্গিকে বিভিন্ন শিরোনামে কৃষক, কৃষিকর্মী, কৃষিবিদ, সার্ভিস প্রোভাইডার ও স্টেক হোল্ডারদের আধুনিক প্রযুক্তির ওপর প্রশিক্ষণ বাস্তবায়ন করছে। এতে দক্ষ মিডিয়া কর্মী ও আইসটিবান্ধব কর্মী তৈরি হচ্ছে যারা কৃষির আধুনিক লাগসই তথ্যপ্রযুক্তিকে বাস্তবায়ন করে কৃষি উন্নয়নকে ত্বরান্বিত করছে। ২০০৯ থেকে অদ্যাবধি ১৫৯৬০ জনকে ই-কৃষি, গণমাধ্যমে কৃষি, কৃষি প্রযুক্তি ইত্যাদি শিরোনামে প্রশিক্ষণ প্রদান করা হয়েছে।&nbsp;</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><br>
<span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>অন্যান্য অনুষ্ঠান আয়োজন :</strong> জাতীয় ও আন্তর্জাতিক কৃষিভিত্তিক বিভিন্ন দিবস উপলক্ষ্যে সেমিনার, মেলা, র‌্যালি ইত্যাদির আয়োজন করা হয়েছে। কৃষি মন্ত্রণালয়ের পক্ষে কৃষি তথ্য সার্ভিস কৃষির সার্বিক প্রচার প্রচারণা করে থাকে।</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><br>
<span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong>কৃষি যোগাযোগ ও তথ্য সেবা কেন্দ্র : </strong>‘কৃষি যোগাযোগ ও তথ্য সেবা কেন্দ্র’ কৃষি তথ্য সার্ভিস কর্তৃক পরিচালিত কৃষি বিষয়ক তথ্য প্রদানের একটি ওয়ান স্টপ সেবা কেন্দ্র। সব শ্রেণির কৃষি তথ্য সেবা প্রত্যাশীগণ এ কেন্দ্র হতে কৃষি মন্ত্রণালয় ও এর অধীন দপ্তর/সংস্থার টেলিফোন নম্বর, ওয়েব ও ই-মেইল এড্রেস তাৎক্ষণিকভাবে ব্যবহার করে দেশব্যাপী সরাসরি সংশ্লিষ্ট কর্মকর্তার সাথে যোগাযোগ করতে পারবেন। কৃষি সংশ্লিষ্ট যাবতীয় তথ্যাবলি প্রাপ্তির ক্ষেত্রে এ কেন্দ্রটি হতে বিভিন্ন দপ্তর/সংস্থার সঙ্গে বিনামূল্যে ফোন কলসহ বিভিন্ন ধরনের প্রকাশনাগুলো সংগ্রহ করার সুযোগ রয়েছে।</span></p>

<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><u><strong>একনজরে কৃষি তথ্য সার্ভিসের অর্জন (২০২০ থেকে জুন ২০২১)&nbsp;</strong></u><br>
কৃষি তথ্য সার্ভিস কৃষি অগ্রযাত্রার গৌরবোজ্জ্বল অংশীদার। সাফল্যের স্বীকৃতি হিসেবে কৃষি তথ্য সার্ভিস অর্জন করেছে বঙ্গবন্ধু জাতীয় কৃষি পদক (স্বর্ণপদক), জাতীয় ডিজিটাল উদ্ভাবনী পদকসহ নানা স্বীকৃতি। বর্তমান সরকারের কৃষি উন্নয়নের অব্যাহত ধারায় এআইএস কৃষি তথ্য বিস্তারে অগ্রণী ভূমিকা পালন করে টেকসই কৃষি উন্নয়নের মাধ্যমে জাতির পিতা বঙ্গবন্ধুর স্বপ্নের সোনার বাংলা প্রতিষ্ঠায় বদ্ধপরিকর।</span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
<tbody>
<tr>
<td style="text-align:center"><strong>মূল কার্যক্রম/বিষয়&nbsp;</strong></td>
<td style="text-align:center"><strong>২০২০</strong></td>
<td style="text-align:center"><strong>২০২১</strong></td>
</tr>
<tr>
<td>১. প্রিন্ট মিডিয়ায় অর্জন</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>১.১ কৃষিকথা (লাখ কপি)&nbsp;</td>
<td>৮.৯১&nbsp;</td>
<td>৯.০১</td>
</tr>
<tr>
<td>১.২ সম্প্রসারণ বার্তা (হাজার কপি)&nbsp;</td>
<td>১৮&nbsp;</td>
<td>১৮</td>
</tr>
<tr>
<td>১.৩ পোস্টার/বুকলেট/লিফলেট/ফোল্ডার (লাখ কপি)&nbsp;&nbsp;</td>
<td>৭.৮৯</td>
<td>৪.১৮</td>
</tr>
<tr>
<td>২. ইলেকট্রনিক মিডিয়ায় অর্জন</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>২.১ ফিল্ম/ফিলার/ডকুমেন্টারি (সংখ্যা)&nbsp;</td>
<td>৫২&nbsp;</td>
<td>৩৩</td>
</tr>
<tr>
<td>২.২ ভ্রাম্যমাণ সিনেমা শো (সংখ্যা)&nbsp;</td>
<td>১১৫০&nbsp;</td>
<td>১১৫৫</td>
</tr>
<tr>
<td>২.৩ মাটি ও মানুষ (পর্ব)&nbsp;</td>
<td>৩৪২&nbsp;</td>
<td>৩৪১</td>
</tr>
<tr>
<td>২.৪ বাংলার কৃষি (পর্ব)&nbsp;</td>
<td>৩৬৫&nbsp;</td>
<td>৩৬৫</td>
</tr>
<tr>
<td>৩. আইসিটিতে অর্জন</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>৩.১ কৃষি তথ্য ও যোগাযোগ কেন্দ্র(সংখ্যা)&nbsp;</td>
<td>৪৯৯&nbsp;</td>
<td>৪৯৯</td>
</tr>
<tr>
<td>৩.২ কৃষি কল সেন্টার (সংখ্যা)&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>৩.৩ কমিউনিটি রেডিও (সংখ্যা)&nbsp;</td>
<td>১</td>
<td>১</td>
</tr>
<tr>
<td>৩.৪ ই-বুক (সংখ্যা)&nbsp;</td>
<td>২৭&nbsp;</td>
<td>০</td>
</tr>
<tr>
<td>৩.৫ কিয়স্ক (সংখ্যা)&nbsp;</td>
<td>১২&nbsp;</td>
<td>০</td>
</tr>
<tr>
<td>৩.৬ আইসিটি ল্যাব (সংখ্যা)&nbsp;</td>
<td>১০&nbsp;</td>
<td>১০</td>
</tr>
<tr>
<td>৪. বিবিধ</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>৪.১ প্রশিক্ষণ (জন)&nbsp;</td>
<td>২৩১০&nbsp;</td>
<td>১৭৩৫</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</div>
 
<img src="images/agriBanner.jpg" alt="2022-03-06-08-03-be4c58296e39120fb6cafde86b025d9e" width="700" height=""><a href="PDF/2022-03-06-08-02-adfd2367c52c354ed74951df85196cad.pdf" title=" 2022-03-06-08-02-adfd2367c52c354ed74951df85196cad.pdf" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"></a><div style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><div class="viewer" style="background-color: rgb(255, 255, 255); width: 720px; color: rgb(0, 0, 0); font-size: 20px;"><iframe width="720" height="600" src="PDF/2022-03-06-08-02-adfd2367c52c354ed74951df85196cad.pdf"></iframe></div></div><style>a:visited span {
color: green !important; 
}
#left-content ul {
list-style: circle;
list-style-position: inside;
}
th{
border:1px solid black;
}
td{
border:1px solid black;
}
@media only screen and (min-width:320px) and (max-width:959px){
table {
display: block;
overflow-x: auto;
white-space: nowrap;
}
#printable_area p img {
width:100%!important;
height: unset!important;
}
}

sub {
vertical-align: sub!important;
font-size: smaller!important;
}
</style><script></script></div>


<div id="share-buttons" style="clear: both; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;">
<br>
<p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;">
<b>Share with :</b>
</p>


<!-- Facebook -->
<a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fais.gov.bd%2Fsite%2Fpage%2Fe24c72ff-aed9-4497-a4d3-87ef07bc33c6%2F-&amp;quote=- - কৃষি তথ্য সার্ভিস (এআইএস)-গণপ্রজাতন্ত্রী বাংলাদেশ সরকার" target="_blank" title="

" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;">
<img src="images/Facebook-logo.png" class="img-fluid" alt="facebook" height="8" width="8%">
</a>
<a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fais.gov.bd%2Fsite%2Fpage%2Fe24c72ff-aed9-4497-a4d3-87ef07bc33c6%2F-&amp;text=- - কৃষি তথ্য সার্ভিস (এআইএস)-গণপ্রজাতন্ত্রী বাংলাদেশ সরকার" target="_blank" title="

" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;">
<img src="images/Twitter-logo.svg.png" class="img-fluid" alt="twitter" height="5" width="5%">
</a>
</div>


</div>
    </div>
<%- include('../template/footer') -%>

</body>

</html>
