<%- include('../template/header') -%>

<body>

    <%- include('../template/navbar') -%>
    <div class="container" style="padding: 44px;margin: 4rem auto;">
        <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 30px;"><span style="font-size: 25px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong><u>কিভাবে ওয়েবসাইট কি ব্যবহার করবেন?</u></strong></span></p>

        <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong><u>হোমপেজ</u></strong></span></p>
        <img src="How To/homepage.png" class="img-fluid" alt="homepage screen">
        <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);margin: 2em auto; font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">First you need click "এখানে ক্লিক করুন"<br>

        <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong><u>আজকের সংবাদ</u></strong></span></p>
        <img src="How To/showTable.png" class="img-fluid" alt="homepage screen">
        <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);margin: 2em auto; font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">আজকের সকল সংবাদ দেখতে পাবেন এইখানে ।<br>
        <img src="How To/showTable (1).png" class="img-fluid" alt="homepage screen">
        <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);margin: 2em auto; font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">পূর্ববর্তী সকল পেপারের সংবাদ দেখতে ”Read More" বাটন এ চাপ দিবেন ।<br>
        <img src="How To/showTable (2).png" class="img-fluid" alt="homepage screen">
        <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);margin: 2em auto; font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">সকল খবরের তালিকা পেতে "আর্কাইভ" এ চাপ দিবেন ।<br>
        <img src="How To/showTable (3).png" class="img-fluid" alt="homepage screen">
        <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);margin: 2em auto; font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">এআইএস সম্বন্ধে জানতে এইখানে চাপ দিবেন ।<br>

            <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong><u>আর্কাইভ</u></strong></span></p>
            <img src="How To/archive.png" class="img-fluid" alt="homepage screen">
            <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);margin: 2em auto; font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">একটি নির্দিষ্ট সংবাদপত্রের, নির্দিষ্ট জেলার ও নির্দিষ্ট দিনের খবর দেখতে এই জায়গাগুলো পূরন করে "সাবমিট" এ চাপ দিবেন ।<br>
            <img src="How To/archive (1).png" class="img-fluid" alt="homepage screen">
            <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);margin: 2em auto; font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">একটি নির্দিষ্ট ট্যাগ দিয়ে খুজতে জায়গাটি পূরন করে "সার্চ করুন" এ চাপ দিবেন ।<br>
            <img src="How To/archive (2).png" class="img-fluid" alt="homepage screen">
            <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);margin: 2em auto; font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">পূর্ববর্ত সকল পেপারের সংবাদ এখানে দেখতে পাবেন ।<br>

                <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);"><strong><u>এআইএস</u></strong></span></p>
                <img src="How To/aboutAis.png" class="img-fluid" alt="homepage screen">
                <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);margin: 2em auto; font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">এআইএস এর বিস্তারিত তথ্য এইখানে দেখতে পাবেন ।<br>
                <img src="How To/AisPdfShare.png" class="img-fluid" alt="homepage screen">
                <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);margin: 2em auto; font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">এআইএস এর তথ্য ডাউনলোড বা প্রিন্ট করতে এইখানে চাপ দিবেন ।<br>
                <img src="How To/AisPdfShare (1).png" class="img-fluid" alt="homepage screen">
                <p style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);margin: 2em auto; font-size: 20px;"><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">উপরোক্ত তথ্য ফেসবুক বা টুইটার এ শেয়ার করতে আইকন গুলোতে চাপ দিবেন ।<br>
        

        
    </div>
    <%- include('../template/footer') -%>

</body>

</html>