<header class=" mb-auto">
    <div class="inner">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light fixed-top">
            <div class="container-fluid">

                <a class="navbar-brand nav-link"  href="/"><img src="/images/mujibBorsho.png" style="width:150px; height: 80px;"></a>
                <a class="navbar-brand nav-link"  href="/"><img src="/images/ais.png" style="width:80px; height: 80px;"></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                    </ul>
                    <div class="form-inline my-2 my-lg-0">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                            <% if (locals.user) { %>
                                <li class="nav-item dropdown">
                                    <a style="font-family: nikoshFont; font-weight:bolder;" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      এডমিন প্যানেল 
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a style="font-family: nikoshFont; font-weight:bolder;" class="nav-link" href="/addForm">সংবাদ সংযুক্ত করুন</a>
                                        <a style="font-family: nikoshFont; font-weight:bolder;" class="nav-link" href="/addNewsPaper">পত্রিকা সংযুক্ত করুন</a>                                       
                                    </div>
                                  </li>
                            <% } %>
                            
                            <li class="nav-item">
                                <a style="font-family: nikoshFont; font-weight:bolder;" class="nav-link" href="/showTable">আজকের সংবাদ</a>
                            </li>
                            <li class="nav-item">
                                <a style="font-family: nikoshFont; font-weight:bolder;" class="nav-link" href="/archieve">আর্কাইভ</a>
                            </li>
                            <% if (locals.user) { %>
                            <li class="nav-item">
                                <a style="font-family: nikoshFont; font-weight:bolder;" class="nav-link" href="/logout">এডমিন লগআউট</a>
                            </li>
                            <% } %>

                            

                        </ul> 
                    </div>
                </div>
            </div>
        </nav>   
    </div>
</header>